<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/home" novalidate>إدارة العتاد المعلوماتي</a>
    <form method="post" action="/home" class="d-flex">
      <input class="form-control form-control-dark w200 rounded-0 border-0" style="width: 50vw" type="search" placeholder="ابحث هنا ..."
      aria-label="Search" name="search">
      <button style="background-color: transparent; color: white;" type="submit">بحث</button>
    </form>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="/logout">تسجيل الخروج</a>
      </div>
    </div>
</header>