<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <title>Ajouter un utilisateur</title>
</head>


<body>

  <header id="sidebarMenu" class="header">
    <a class="navbar-brand" href="/home" novalidate>Matériel Informatique</a>
    <ul class="nav nav_link">
      <li class="nav-item">
        <a class="login__submit navlink" aria-current="page" href="/home">Principale</a>
      </li>
      <li class="nav-item">
        <a class="login__submit navlink" aria-current="page" href="/service">Services</a>
      </li>
      <li class="nav-item">
        <a class="login__submit navlink" aria-current="page" href="/user">Postes</a>
      </li>
      <li class="nav-item">
        <a class="login__submit navlink" href="/needs">Besoins</a>
      </li>
      <li class="nav-item">
        <a class="login__submit navlink" href="/settings">Paramètres</a>
      </li>
    </ul>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="/addAdminAr" style="color: white;"><h5>Ar</h5></a>
      </div>
    </div>
  </header>

  <main class="main">
    <div class="card main_card" style="width: 60%; right: 20%;">
      {{#if message}}
      <p class="alert alert-danger">{{message}}</p>
      {{/if}}
      <div class="card-header" style="text-align: center; color: #5d54a4;">
        <h3>Ajouter les données</h3>
      </div>
      <div class="card-body">
        <form method="post" action="">
          <div class="row">
            <div class="login__field">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                class="bi bi-person-fill login__icon fas fa-user" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
              </svg>
              <input type="text" class="login__input" name="full_name" id="full_name" autocomplete="off" required
                placeholder="    Nom et Prénom" />
            </div>
            <div class="login__field">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                class="bi bi-envelope-at-fill login__icon fas fa-user" viewBox="0 0 16 16">
                <path
                  d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z" />
                <path
                  d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z" />
              </svg>
              <input type="email" class="login__input" name="email" id="email" autocomplete="off" required
                placeholder="    Email" />
            </div>
            <div class="login__field">
              <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
                class="bi bi-key-fill login__icon fas fa-lock" viewBox="0 0 16 16">
                <path
                  d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
              </svg>
              <input type="password" name="password" id="password" autocomplete="off" required class="login__input"
                placeholder="    Mot de Passe" />
            </div>
          </div>
          <div class="button">
            <div class="mb-3">
              <input type="submit" class="login__submit navlink" aria-current="page" value="Confirmer" />
            </div>
            <div class="mb-3">
              <a class="login__submit navlink" aria-current="page" href="/settings">Retour</a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </main>
  
</body>

</html>