<!DOCTYPE html>
<html lang="ar" dir="rtl">

{{> header }}

<body>
    <div class="container">

        <h1 class="mt-5 mb-5 text-center text-primary"><b>استرجاع الحساب</b></h1>

        <div class="row mt-5">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="card">
                    <div class="alert alert-danger" role="alert" id="error" style="display: none; text-align: center"></div>
                    <div class="alert alert-success" role="alert" id="success" style="display: none; text-align: center"></div>
                    <div class="card-header" style="text-align: center;">أدخل البريد الالكتروني </div>
                    <div class="card-body">
                        <form onsubmit="return false;" id="form">
                            <div class="mb-3">
                                <input type="email" name="email" id="email" class="form-control" autocomplete="off"
                                    required placeholder="بريدك الالكتروني"/>
                            </div>
                            <div class="mb-3" style="display: flex; justify-content: space-between; margin-top: 5px;">
                                <button type="submit" class="btn btn-primary" >تأكيد</button>
                                <a href="/" class="btn btn-primary">رجوع</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>