<!DOCTYPE html>
<html lang="ar" dir="rtl">

{{> head }}

<body>

    {{> header }}

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" style="height: 90vh;">
                <div class="position-sticky pt-3 sidebar-sticky">
                    {{> navbar }}
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                    </div>
                </div>


                <div class="card" style="margin-top: 70px;">
                    <div class="alert alert-danger" role="alert" id="error" style="display: none; text-align: center">
                    </div>
                    <div class="alert alert-success" role="alert" id="success"
                        style="display: none; text-align: center;"></div>
                    <div class="card-header" style="text-align: center;">أدخل المعلومات المطلوبة</div>
                    <div class="card-body">
                        <form onsubmit="return false;" id="form">
                            <div class="mb-3">
                                <label for="full_name">الاسم العائلي والشخصي</label>
                                <input type="text" name="full_name" id="full_name" class="form-control"
                                    value={{user.full_name}} />
                            </div>
                            <div class="mb-3">
                                <label for="email">البريد الالكتروني</label>
                                <input type="email" name="email" id="email" class="form-control" value={{user.email}} />
                            </div>
                            <div class="mb-3">
                                <label for="password">كلمة السر الجديدة</label>
                                <input type="password" name="password" id="password" class="form-control"
                                    value={{user.password}} />
                            </div>
                            <div class="mb-3">
                                <label for="confirm-password">تأكيد كلمة السر</label>
                                <input type="password" name="confirm-password" id="confirm-password"
                                    class="form-control" value={{user.password}} />
                            </div>
                            <div class="mb-3" style="display: flex; justify-content: space-between;">
                                <button type="submit" class="btn btn-primary">تأكيد</button>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>

</html>